.first-row {
  width: 100%;
  padding: 0 11px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  z-index: 1;
  .head {
    padding: 8px 12px 6px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.5),
      inset 0 1px 3px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-image: radial-gradient(
      circle 485px at 196.67% 118.63%,
      rgba(42, 42, 47, 0.7) 0%,
      #131316 100%
    );
    // overflow: hidden;
    box-sizing: border-box;
    &:before {
      position: absolute;
      content: "";
      top: -3px;
      left: -3px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      background-image: url(./img/Rectangle.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;
    }
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: -2px;
      width: 102%;
      height: 100%;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: -1;
      box-shadow: 0px -2px 4px 4px rgba(0, 0, 0, 0.5);
    }
  }
  .select-in {
    max-width: 104px;
    height: 20px;
    padding: 0 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .select {
      position: relative;
      display: flex;
      width: 96px;
      height: 16px;
      box-shadow: inset 0 -1px 5px rgba(0, 0, 0, 0.24),
        inset 0 0 1px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      background-image: linear-gradient(180deg, #1e1e1e 0%, #030303 100%);
      padding-left: 4px;
      i {
        color: #fff;
        font-size: 9px;
        text-transform: capitalize;
        line-height: 16px;
        opacity: 0.8;
      }
      &:after {
        content: '';
        position: absolute;
        right: 5px;
        top: 7px;
        border: 2.5px solid transparent;
        border-top: 2.3px solid #fff;
      }
    }

    .light {
      display: flex;
      width: 2px;
      height: 17px;
      border-radius: 1px;
      background-color: #000000;
    }
    &.active {
      .light {
        box-shadow: 0 0 4px #db2235, inset 0 0 1px #db2235;
        background-color: #ffa5ae;
      }
    }
  }
  .left-panel {
    .lfo-1,
    .lfo-2 {
      position: relative;
      min-width: 250px;
      width: 100%;
      .left {
        z-index: 1;
        .up {
          display: flex;
          align-items: flex-start;
          margin-bottom: 8px;
          .buttons-efects {
            width: 62px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 1px 0;
            .button-effects {
              &:nth-child(odd) {
                margin-right: 2px;
              }
            }
          }
        }
      }
      .right {
        display: flex;
        z-index: 1;
        .wrapper {
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-left: 10px;
          }
        }
        .big-control {
          margin-top: 8px;
        }
      }
    }
  }
  .central-screen {
    .head {
      justify-content: center;
    }
    .video {
      width: 414px;
      height: 100%;
      max-height: 232px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24),
        inset 0 2px 8px rgba(0, 0, 0, 0.5), inset 0 1px 3px rgba(0, 0, 0, 0.7);
      border-radius: 4px;
      border: 4px solid rgba(0, 0, 0, 0.5);
      background-color: #000000;
      @media (max-width: 950px) {
        width: 100%;
        min-height: calc(100% - 29px);
      }
    }
  }
  .right-panel {
    .mod-env-1,
    .mod-env-2 {
      position: relative;
      min-width: 250px;
      width: 100%;
      .content {
        align-items: flex-end;
        justify-content: flex-start;
        padding: 6px 3px;
      }
      .left {
        display: flex;
        z-index: 1;
        .wrapper {
          margin-left: 0;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 5px;
          }
        }
        .fader {
          position: relative;
          width: 6px;
          height: 62px;
          margin: 8px 13px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          border-radius: 2px;
          background-image: linear-gradient(180deg, #1b1b1f 0%, #17171b 100%);
          &:before,
          &:after {
            content: "";
            position: absolute;
            left: -8px;
            top: 0;
            width: 5px;
            height: 100%;
            background-image: url(./img/fader-ef.svg);
            background-position: center center;
            background-repeat: no-repeat;
          }
          &:after {
            left: inherit;
            right: -8px;
          }

          .line {
            width: 2px;
            height: 58px;
            box-shadow: inset 0 1px 3px #000000;
            border-radius: 1px;
            background-color: #101010;
          }
        }
      }
      .right {
        z-index: 1;
        .bundle {
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          &:last-child {
            margin-bottom: 0;
          }
          .control {
            position: relative;
            width: 26px;
            border-radius: 50%;
            z-index: 1;
          }
          .select-in {
            width: 85px;
            height: 20px;
            margin-left: -7px;
            .select {
              padding-left: 7px;
            }
          }
        }
      }
    }
  }
}
