@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Medium.eot');
  src: url('./fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Gotham-Medium.woff2') format('woff2'),
      url('./fonts/Gotham-Medium.woff') format('woff'),
      url('./fonts/Gotham-Medium.ttf') format('truetype'),
      url('./fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}