body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 1.33vw;
  font-size: 1rem;
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, "Gotham", "Helvetica Neue", sans-serif;
    color: #fff;
    font-size: 8px;
    font-weight: 500;
    text-transform: uppercase;
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  .hide {
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
  }
  i {
    display: block;
    height: fit-content;
    opacity: 0.7;
  }
  a:hover {
    text-decoration: none;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper {
    margin-left: 12px;
    text-align: center;
    .switch {
      margin-top: 8px;
      margin-left: 0;
    }
  }
  .player-atom {
    position: relative;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.51),
      inset -1px 0 2px rgba(0, 0, 0, 0.49), inset 1px 0 2px rgba(0, 0, 0, 0.49);
    box-shadow: inset 2px 0 4px #000000, inset -2px 0 4px #000000,
      inset 0 -2px 4px #000000, inset 0 -2px 4px #000000;
    border-radius: 6px;
    background-image: radial-gradient(
      circle 461px at 50% 19.37%,
      #6f7289 0%,
      #393947 100%
    );
    padding-bottom: 11px;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(./img/bc-main.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;
    }

    > span.decoration {
      position: absolute;
      bottom: 0;
      left: 5px;
      z-index: 1;
      &:last-child {
        left: inherit;
        right: 5px;
        transform: scale(-1, 1);
      }
    }
  }

  .style {
    height: 26px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.24),
      0 1px 1px rgba(230, 230, 255, 0.24), inset 0 1px 3px #000000;
    border-radius: 3px;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  .style-for-control {
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.24),
      0 1px 1px rgba(230, 230, 255, 0.24), inset 0 1px 2px #000000;
    background-image: linear-gradient(180deg, #1f1f23 0%, #0b0b0d 100%);
  }
  .act-panel {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.24),
      0 1px 1px rgba(230, 230, 255, 0.12), inset 0 1px 1px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(180deg, #1e1e1e 0%, #030303 100%);
    &:before {
      position: absolute;
      content: "";
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-image: radial-gradient(
        9px 9px at 70% 50%,
        #393a45 0%,
        #080809 100%
      );
      opacity: 0.8;
    }
    &.active {
      &:before {
        box-shadow: 0 0 2px #db2235, inset 0 -1px 4px #a409ad,
          inset 0 0 3px #db2235;
        background-image: radial-gradient(
          5px 5px at 100% 290%,
          #ff818e 0%,
          #db2235 100%
        );
        opacity: 1;
      }
      &:after {
        position: absolute;
        content: "";
        top: 2px;
        left: 2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0 0 4px 2px #db2235;
      }
    }
  }
  .switch,
  .switch-vertical {
    position: relative;
    width: 30px;
    height: 18px;
    margin-left: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      content: "";
      display: block;
      width: 26px;
      height: 14px;
      box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.24);
      border-radius: 12px;
      background-image: linear-gradient(180deg, #383940 0%, #151517 100%);
    }
    &:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5), 0 4px 4px rgba(0, 0, 0, 0.24),
        inset 0 1px 2px rgba(101, 103, 115, 0.56),
        inset 0 1px 0 rgba(228, 228, 255, 0.24);
      background-image: radial-gradient(
        circle 10px at 108.33% 58.33%,
        #6d6f7e 0%,
        #252529 100%
      );
      transition: ease 1s;
    }
    &.active {
      &:before {
        box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0 0 6px 3px #db2235, 0 0 6px 1px #db2235;
        border-radius: 12px;
        background-image: linear-gradient(180deg, #da224c 0%, #a409ad 100%);
      }
      &:after {
        left: inherit;
        right: 3px;
      }
    }
  }
  .switch-vertical {
    width: 18px;
    height: 30px;
    &:before {
      width: 14px;
      height: 26px;
    }
    &:after {
      left: inherit;
      top: inherit;
      bottom: 3px;
    }
    &.active {
      &:after {
        top: inherit;
        top: 3px;
      }
    }
  }

  .button,
  .button-effects {
    display: block;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.5),
      inset -1px 0 0 rgba(230, 230, 255, 0.06),
      inset 1px 0 0 rgba(230, 230, 255, 0.06), inset 0 -1px 0 #2b2b31,
      inset 0 1px 0 #585962;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.12);
    background-image: linear-gradient(180deg, #3b3c43 0%, #2a2a2f 100%);

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &.prev, &.next {
      &:active {
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(180deg, #2a2a2f 0%, #1c1c20 100%);
      }
    }
    &.on {
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(180deg, #2a2a2f 0%, #1c1c20 100%);
    }
    &.for-number {
      width: 20px;
      height: 16px;
      &:before {
        background-image: url(./img/arrows.svg);
      }
    }
    &.filters {
      width: 30px;
      height: 16px;
    }
  }
  .button-effects {
    position: relative;
    width: 28px;
    height: 22px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5),
      inset -1px 0 0 rgba(230, 230, 255, 0.06),
      inset 1px 0 0 rgba(230, 230, 255, 0.06), inset 0 -1px 0 #2b2b31,
      inset 0 1px 0 #585962;

    &.sin {
      &:before {
        background-image: url(./img/Sin.svg);
      }
      &.on {
        &:before {
          background-image: url(./img/Sin-on.svg);
        }
      }
    }
    &.pulse {
      &:before {
        background-image: url(./img/Pulse.svg);
      }
      &.on {
        &:before {
          background-image: url(./img/Pulse-on.svg);
        }
      }
    }
    &.saw {
      &:before {
        background-image: url(./img/Saw.svg);
      }
      &.on {
        &:before {
          background-image: url(./img/Saw-on.svg);
        }
      }
    }
    &.square {
      &:before {
        background-image: url(./img/Square.svg);
      }
      &.on {
        &:before {
          background-image: url(./img/Square-on.svg);
        }
      }
    }
    &.noise {
      &:before {
        background-image: url(./img/Noise.svg);
      }
      &.on {
        &:before {
          background-image: url(./img/Noise-on.svg);
        }
      }
    }
  }
  .slider {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: calc(50% - 12px);
    width: 24px;
    height: 15px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.24), 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-image: linear-gradient(180deg, #727280 0%, #323238 100%);
    transition: ease top 1s;
    z-index: 2;
    &:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      width: 22px;
      height: 5px;
      border-radius: 2px;
      background-image: linear-gradient(180deg, #38383e 0%, #5c5c68 100%);
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 1px;
      width: 22px;
      height: 5px;
      border-radius: 2px;
      background-image: linear-gradient(
        180deg,
        rgba(25, 25, 28, 0.7) 0%,
        #565662 100%
      );
    }
    span {
      position: absolute;
      width: 20px;
      height: 4px;
      border-radius: 1px;
      background-image: linear-gradient(to top, #3e3e48 0%, #46464f 100%);
      &:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0px;
        width: 20px;
        height: 1px;
        box-shadow: 0 0 3px 1px #db2235;
        border-radius: 1px;
        background-color: #ffffff;
        z-index: 1;
      }
    }
  }
  .small-control,
  .medium-control,
  .big-control,
  .very-big-control {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
  }
  .small-control {
    width: 26px;
    height: 26px;
    z-index: 2;
  }
  .medium-control {
    width: 38px;
    height: 38px;
  }
  .very-big-control {
    width: 60px;
    height: 60px;
  }
  .round-butn {
    position: relative;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 1px 2px rgba(101, 103, 115, 0.56),
      0 4px 6px rgba(0, 0, 0, 0.5), 0 2px 6px rgba(0, 0, 0, 0.24);
    background-image: radial-gradient(
      circle 20px at 60.62% 12.04%,
      #6d6f7e 0%,
      #252529 100%
    );
    border-radius: 50%;
    transition: ease 1s;
    &:before {
      content: "";
      width: 18px;
      height: 18px;
      box-shadow: 0 -1px 2px rgba(101, 103, 115, 0.24),
        inset 0 -1px 2px rgba(101, 103, 115, 0.04),
        inset 0 -5px 3px rgba(0, 0, 0, 0.09);
      background-image: radial-gradient(
        circle 15px at 75.77% 29.33%,
        #4e4f59 0%,
        #33333a 100%
      );
      border-radius: 50%;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 1px);
      width: 2px;
      height: 3px;
      box-shadow: 0 0 3px 1px #db2235, inset 0 0 4px 0px #db2235;
      border-radius: 1px;
      background-color: #ffffff;
    }
  }
  .shadow {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.5);
  }
  .big-control {
    .round-butn {
      width: 34px;
      height: 34px;
      &:before {
        width: 26px;
        height: 26px;
      }
      &:after {
        top: -1px;
        height: 4px;
      }
    }
    .shadow {
      top: calc(50% - 17px);
      left: calc(50% - 17px);
      width: 34px;
      height: 34px;
    }
  }
  .very-big-control {
    .round-butn {
      width: 43px;
      height: 43px;
      &:before {
        width: 34px;
        height: 34px;
      }
      &:after {
        top: -1px;
        height: 6px;
      }
    }
    .shadow {
      top: calc(50% - 21.5px);
      left: calc(50% - 21.5px);
      width: 43px;
      height: 43px;
    }
  }
  footer {
    margin-top: auto;
  }
}

@media (max-width: 950px) {
  body .player-atom {
    height: 100vh;
    min-height: 770px;
    align-items: center;
    padding-bottom: 25px;
  }
  .left-panel,
  .right-panel,
  .second-row .second-row__panel .osc-3,
  .last-row {
    display: none;
  }
  .second-row .second-row__panel .osc-2 {
    &:after {
      display: none;
    }
  }
  .first-row {
    .central-screen {
      width: 100%;
      min-height: 400px;
    }
  }
  body .player-atom .second-row {
    width: fit-content;
    .second-row__panel {
      justify-content: center;
    }
  }
}
@media (max-width: 700px) {
  body .player-atom {
    min-height: 560px;
    .first-row .central-screen {
      height: fit-content;
      min-height: fit-content;
      .videos {
        min-height: fit-content;
        max-height: fit-content;
        .content-v {
          min-height: 150px;
        }
        
      }
    }
  }
}
@media (max-width: 650px) {
  body .player-atom .second-row {
    .second-row__panel {
      .osc-1 {
        &:after {
          display: none;
        }
      }
      .osc-2 {
        display: none;
      }
    }
  }
}