.header {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.5),
    inset 0 -2px 4px rgba(0, 0, 0, 0.4), inset 2px 0 4px rgba(0, 0, 0, 0.24),
    inset -2px 0 4px rgba(0, 0, 0, 0.24),
    inset 0 2px 4px rgba(255, 255, 255, 0.24);
  background-image: radial-gradient(
    circle 471px at 50% 295.79%,
    #3b3c43 0%,
    #2a2a2f 100%
  );
  border-radius: 2px 2px 0 0;
  z-index: 2;
  @media (max-width: 950px) {
    padding: 0 12px;
    justify-content: space-between;
  }
  .logo {
    flex: 0 0 27.3%;
    @media (max-width: 950px) {
      flex: inherit;
    }
    img {
      width: 100%;
      max-width: 104px;
    }
  }
  .list-music {
    min-width: 416px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media (max-width: 650px) {
      min-width: calc(100% - 155px);
    }
    .name-music {
      position: relative;
      max-width: 362px;
      width: 100%;
      height: 22px;
      margin: 0 3px;
      box-shadow: inset 0 -1px 6px rgba(0, 0, 0, 0.24);
      border-radius: 2px;
      background-image: linear-gradient(180deg, #34343b 0%, #212121 100%);
    }
    #text-audio {
      display: flex;
      width: 100%;
      text-align: center;
      align-items: center;
      height: 100%;
      justify-content: center;
      }
    .list-audio {
      position: absolute;
      display: none;
      top: 24px;
      left: -26px;
      width: calc(100% + 52px);
      height: 269px;
      background-color: #000000;
      padding: 2px 2px 4px;
      z-index: 11;
      ul {
        li {
          margin-bottom: 2px;
          a.audio {
            display: flex;
            width: 100%;
            height: 25px;
            text-align: center;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            background-color: #2a2a2f;
            outline: none;
            &:hover, &.play {
              background-color: #3b3c43;
              span {
                color: #ad2550;
              }
            }
            span {
              color: #fff;
              font-size: 10px;
              opacity: 0.7;
            }
          }
        }
      }
    }
    .prev,
    .next {
      &::before {
        background-image: url(./img/arrow.svg);
      }
    }
    .prev {
      &::before {
        transform: rotate(180deg);
      }
    }
  }
  .setting-player {
    display: flex;
    align-items: center;
    margin-left: 15px;
    flex-wrap: wrap;
    @media (max-width: 950px) {
      margin-left: 0;
      width: 104px;
      justify-content: flex-end;
    }
    @media (max-width: 650px) {
      width: fit-content;
    }

    .save {
      width: 26px;
      margin-right: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 950px) {
        display: none;
      }
      .save__a {
        &::before {
          background-image: url(./img/save.svg);
        }
      }
    }
    span {
      color: rgba(147, 150, 169, 0.8);
      font-size: 10px;
      font-weight: 500;
      letter-spacing: -0.03px;
      line-height: 10px;
      text-transform: uppercase;
      @media (max-width: 950px) {
        display: none;
      }
    }
    .small-control {
      margin-left: 4px;
      margin-right: 16px;
      @media (max-width: 950px) {
        display: none;
      }
    }
    .two-button {
      width: 50px;
      margin-right: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 950px) {
        display: none;
      }
      .button {
        &:first-child {
          margin-right: 2px;
        }
        &.settings {
          &::before {
            background-image: url(./img/settings.svg);
          }
        }
        &.faq {
          &::before {
            background-image: url(./img/faq.svg);
          }
        }
      }
    }
    .logo {
      max-width: 26px;
      min-width: 26px;
      flex: inherit;
      img {
        max-width: 26px;
      }
    }
  }
}
