.last-row {
  position: relative;
  padding: 0 11px;
  z-index: 1;

  .head {
    position: relative;
    padding: 8px 12px 6px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      box-shadow: 0 1px 2px rgba(230, 230, 255, 0.24),
        0 -1px 2px rgba(0, 0, 0, 0.24);
      background-color: rgba(0, 0, 0, 0.24);
    }
  }

  .last-row__panel {
    position: relative;
    width: 100%;
    display: flex;
    border-radius: 4px 4px 56px 56px;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.5),
      inset 2px 0 1px rgba(0, 0, 0, 0.5), inset -2px 0 1px rgba(0, 0, 0, 0.5),
      inset 0 2px 1px rgba(230, 230, 255, 0.12);
    background-image: radial-gradient(
      circle 465px at 51.17% 230.63%,
      #4f4f60 0%,
      #34353e 100%
    );
    // overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 1px 2px rgba(230, 230, 255, 0.24);
      border-radius: 4px 4px 56px 56px;
      opacity: 0.5;
    }
    > div {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: calc(100% - 2px);
        box-shadow: 2px 0 1px rgba(0, 0, 0, 0.5), -2px 0 1px rgba(0, 0, 0, 0.5);
        background-color: #000000;
        opacity: 0.5;
      }
      &:last-child::after {
        display: none;
      }
      .content {
        padding: 5px 10px 10px;
      }
    }
    .wrapper {
      margin: 0;
      .medium-control {
        margin-top: 8px;
      }
    }
    .decoration {
      display: block;
      position: relative;
      width: 15px;
      height: 14px;
      background-image: url(./img/decoration.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .voising {
      min-width: 141px;
      width: 100%;
      .row {
        &:first-child {
          margin-bottom: 5px;
          .wrapper {
            margin: 0;
            margin-right: 6px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:first-child {
              margin-right: 15px;
            }
            &:last-child {
              margin-right: 0;
            }
            .switch-vertical, .medium-control {
              margin: 0;
              margin-top: 8px;
            }
          }
        }
        &:last-child {
          justify-content: flex-end;
          .wrapper {
            display: flex;
            align-items: center;
             i {
               margin-right: 8px;
             }
          }
          .select-in {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2px;
            .numbers {
              position: relative;
              width: 36px;
              height: 16px;
              font-size: 10px;
              line-height: 16px;
              color: #fff;
              text-align: center;
              &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: inset 0 -1px 6px rgba(0, 0, 0, 0.24);
                border-radius: 1px;
                background-image: linear-gradient(
                  180deg,
                  #34343b 0%,
                  #212121 100%
                );
                opacity: 0.4;
              }
            }
          }
        }
      }
      
      .select-in {
        width: 62px;
        height: 20px;
      }
    }
    .distortion {
      min-width: 123px;
      width: 100%;
      .content {
        padding-left: 0;
        padding-right: 0;
      }
      .row {
        &:first-child {
          padding-left: 16px;
          padding-right: 16px;
          justify-content: space-between;
          margin-bottom: 4px;
        }
        &:nth-child(even) {
          justify-content: space-between;
          padding-left: 6px;
          padding-right: 6px;
          margin-bottom: -3px;
        }
        &:last-child {
          justify-content: center;
          padding-left: 6px;
          padding-right: 6px;
          margin-bottom: -3px;
          .decoration {
            margin: 0 0.5px;
          }
        }
      }
    }
    .filter {
      min-width: 155px;
      width: 100%;
      .row {
        &:first-child {
          margin-bottom: 5px;
          justify-content: space-between;
        }
        &:last-child {
          .select-in {
            width: 130px;
            height: 20px;
            padding: 0 2px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .button.filters {
              color: #fff;
              font-size: 9px;
              &.on {
                i {
                  opacity: 1;
                  text-shadow: 0 0 3px #fff;
                }
              }
              i {
                opacity: 0.6;
              }
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
    .delay {
      min-width: 278px;
      width: 100%;
      .row {
        &:first-child {
          margin-bottom: 5px;
          justify-content: space-between;
        }
        &:last-child {
          justify-content: space-between;
          .wrapper {
            display: flex;
            align-items: center;
            &:first-child {
              margin-right: 20px;
            }
            i {
              margin-right: 5px;
            }
            .switch {
              margin: 0;
            }
          }
          .left,
          .right {
            display: flex;
            flex-wrap: wrap;
          }
          .select-in {
            width: 34px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:first-child {
              margin-right: 10px;
            }
          }
          .second {
            position: relative;
            display: block;
            width: 30px;
            height: 16px;
            line-height: 16px;
            color: #fff;
            font-size: 9px;
            text-align: center;
            &:after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              box-shadow: inset 0 -1px 6px rgba(0, 0, 0, 0.24);
              border-radius: 1px;
              background-image: linear-gradient(
                180deg,
                #34343b 0%,
                #212121 100%
              );
              opacity: 0.4;
            }
          }
        }
      }
    }
    .reverb {
      min-width: 237px;
      width: 100%;
      .row {
        &:first-child {
          margin-bottom: 4px;
          justify-content: space-between;
        }
        &:nth-child(even) {
          justify-content: flex-start;
          padding: 0;
          margin-bottom: -3px;
        }
        &:last-child {
          justify-content: flex-start;
          padding-left: 8px;
          padding-right: 0;
          margin-bottom: -3px;
          .decoration {
            margin: 0;
          }
        }
      }
    }
  }
}
